<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Server=localhost\SQLEXPRESS01;Trusted_Connection=True;"/>  
    <add key="dbName" value="DataBaseTest"/>
    <add key="tableName" value="Words"/>
    <add key="filePath" value="Resources/newdocument.txt"/>
    <add key="minLength" value="3"/>
    <add key="maxLength" value="20"/>
    <add key="minCount" value="4"/>
  </appSettings>
</configuration>